<h3>Item name</h3>
<div class="item-div">
	<p>Calligraphy font on handmade cotton rag paper. Invitation comes in a smooth as silk handmade paper box; sealed with an indigo plant-dyed silk ribbon. Ribbon is made by Silk and Willow.
	</p>
	<div>
		<p>$575.00 per set of 100</p>
		<p>Card Size: 4.25" x 6"</p>
		<p>Format: Digital</p>
		<p>Printing:Standard</p>
		<p>Paper: White Cotton Rag:  Our standard thicker white paper. 100% handmade, organic paper. </p>
		<p>Not sure what cotton rag looks and feels like? Want to know if the colors are as they appear on your screen? Order a sample.
		Email:rhapsody@rhapsodydesigns.com</p>
		<div>
			<p>Now for the fun part. Let's personalize this suite, so it reflects your preferences.</p>
			<button> <a href="/shop/personalize">Personalize!</a></button>
		</div>
	</div>
</div>
