
<h3>Shop our products!</h3>

<div class="product-div">

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>WHITE HIBISCUS</h5>
        <h6>$525.00</h6>
      </div>
    </a>
  </div>

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>LITTE BLACK BOX</h5>
        <h6>$475.00</h6>
      </div>
    </a>
  </div>

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>BOHEMIAN BLUE</h5>
        <h6>$575.00</h6>
      </div>
    </a>
  </div>  

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>NEW DECO</h5>
        <h6>$375.00</h6>
      </div>
    </a>
  </div>

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>SUNRISE</h5>
        <h6>$375.00</h6>
      </div>
    </a>
  </div>

  <div class="product-card">
    <a href="shop/item">
      <div class="product-image">
        <img src="styles/images/placeholder.png">
      </div>
      <div class="product-info">
        <h5>MyStud</h5>
        <h6>$385.00</h6>
      </div>
    </a>
  </div>
</div>
